# Virtual environment
.venv/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribution
build/
dist/
*.egg-info/

# Cache
.pytest_cache/
.coverage
.cache/
htmlcov/

# Editor
*.swp
*~

# Type checker
.mypy_cache/
.pyright/
.ruff_cache/

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
